<%= render 'shared/errors', obj: @task, message: 'prohibited this task from being saved:' %>
<div class="row">
  <div class="col col-md-6 col-md-offset-3">
    <%= form_for(@task, html: { class: 'form-horizontal', role: 'form' }) do |f| %>
      <div class="form-group">
        <%= f.text_area :content, require: true, autofocus: true,  label: false, placeholder: "Content", html: { class: "form-control" } %>
      </div>
      <div class="form-group">
        <%= f.submit class: 'btn btn-primary' %>
        <%= link_to 'Cancel', tasks_path, class: 'btn btn-warning' %>
      </div>
    <% end %>
  </div>
</div>