<div class="panel panel-info">
  <div class="panel-heading">
    created <%= time_ago_in_words(task.created_at) %> ago
    <div class="pull-right">
      <%= link_to "<i class='fa fa-pencil' aria-hidden='true'></i>".html_safe, edit_task_path(task) %>
      <%= link_to "<i class='fa fa-trash' aria-hidden='true'></i>".html_safe, task_path(task), method: :delete, data: { confirm: "Are you sure?" } %>
    </div>
  </div>
  <div class="panel-body"><%= raw(task.content_html) %></div>
  <div class="panel-footer text-center">
    <% if task.state == "doing" %>
      <div class="btn-group btn-group-justified">
        <%= link_to "<i class='fa fa-angle-double-left'></i> To Do".html_safe, change_task_path(task, state: "to_do"), method: :put, class: "btn btn-sm btn-block btn-info" %>
        <%= link_to "Done <i class='fa fa-angle-double-right'></i>".html_safe, change_task_path(task, state: "done"), method: :put, class: "btn btn-sm btn-block btn-info" %>
      </div>
    <% elsif task.state == "done" %>
      <%= link_to "<i class='fa fa-angle-double-left'></i> Doing".html_safe, change_task_path(task, state: "doing"), method: :put, class: "btn btn-sm btn-block btn-info" %>
    <% else %>
      <%= link_to "Doing <i class='fa fa-angle-double-right'></i>".html_safe, change_task_path(task, state: "doing"), method: :put, class: "btn btn-sm btn-block btn-info" %>
    <% end %>
  </div>
</div>