<div class="container">
  <div class="row">
    <div class="col-xs-9">
    <p>
      <strong>Content:</strong>
      <%= @task.content %>
    </p>

    <p>
      <strong>State:</strong>
      <%= @task.state %>
    </p>

    <%= link_to 'Edit', edit_task_path(@task), class: 'btn btn-success' %> |
    <%= link_to 'Back', tasks_path %>
    </div>
  </div>
</div>