@import url(https://fonts.googleapis.com/css?family=Cabin:400,700);

body {
  font-family: 'Cabin', Helvetica, sans-serif !important;
}

.jumbotron {
  color: #fff;
  margin-bottom: 0;
  text-align: center;
  background-image: url("../images/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.top-nav-home {
  background-color: transparent;
}

.navbar-nav>li:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.banner-text  {
  margin-top: 20%;
}

.btn {
  border-radius: 25px !important;
}

.btn-lg, .btn-group-lg>.btn {
  margin: 0 10px;
}

#services {
  background-color: #ECECEC;
  padding: 60px 0;
}

#portfolio {
  background-color: #2C3E50;
}

#contact {
  padding: 40px 0;
  background-color: #ECECEC;
}

footer {
  padding: 40px 0;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  /*margin-bottom: 60px;*/
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}
