<!-- Main jumbotron for a primary marketing message or call to action -->
<div id="home" class="jumbotron">
  <div class="container">
    <h1>Web Developer</h1>
    <p><strong>Here to help you develope your website.</strong></p>
    <%= link_to 'Contact &raquo;'.html_safe, new_contact_path, class: "btn btn-lg btn-info" %>
  </div>
</div>

<div id="about" class="container">
  <h2 class="text-center">About</h2>
  <hr>
    <div class="row">
      <div class="col-sm-3 text-center">
        <%= image_tag("profile_pic_small.jpg", alt: "James Garcia", class: "img-circle img-responsive", size: "200x200") %>
      </div>
      <div class="col-sm-9">
        <p>
          I am a Web Developer and Network Engineer. I have 8 years of experience in I.T. As you can see from my portfolio I have worked on an assortment of projects. Some as simple as a website on to more complex web apps. The main stack I use in development is HTML5, CSS3, Javascript, and Ruby on Rails. I also am familiar with PHP and MySQL. I am always trying to learn and advance my knowledge and skills. Please contact me if you are interested in my web development services.
        </p>
      </div>
    </div>
</div>

<section class="dark-background">
  <div id="portfolio" class="container">
    <h2 class="text-center">Portfolio</h2>
    <hr>
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">          <!-- <img src="images/awesomedesign.png" alt="AwesomeDesgin"> -->
          <%= image_tag("awesomedesign.png", alt: "Awesome Design") %>
          <div class="caption">
            <h3>Single Page</h3>
            <p>This is a website template for an Interior Design company.</p>
            <%= link_to "See More &raquo;".html_safe, "/agency/index.html", target: "_blank" , class: "btn btn-info" %>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
        <%= image_tag("lab-adores.png", alt: "Lab-Adores") %>
          <div class="caption">
            <h3>Lab Adores</h3>
            <p>This is a WordPress customized site that I created for a client</p>
            <%= link_to "See More &raquo;".html_safe, "http://www.lab-adores.com", class: "btn btn-info", target: "_blank" %>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <%= image_tag("ror_blog.png") %>
          <div class="caption">
            <h3>Blog Project</h3>
            <p>This is a project that I created in Ruby On Rails. It is hosted on Heroku.</p>
            <%= link_to "See More &raquo;".html_safe, "https://alpha-blog-jeg.herokuapp.com", class: "btn btn-info", target: "_blank" %>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <%= image_tag("jtodo_img.png") %>
          <div class="caption">
            <h3>JTodo</h3>
            <p>This is a project that I created in Ruby On Rails. It is hosted on Heroku.</p>
            <%= link_to "See More &raquo;".html_safe, "https://safe-castle-14864.herokuapp.com/", class: "btn btn-info", target: "_blank" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div id="skills" class="container">
  <h2 class="text-center">Skills</h2>
  <hr>
  <div class="row">
    <div class="col col-md-6">
      <ul class="list-group skills-list">
        <li class="list-group-item">
          <p>HTML <i class="devicon-html5-plain-wordmark colored"></i></p>
        </li>
        <li class="list-group-item">
          <p>CSS <i class="devicon-css3-plain-wordmark colored"></i></p>
        </li>
        <li class="list-group-item">
          <p>Javascript <i class="devicon-javascript-plain colored"></i></p>
        </li>
        <li class="list-group-item">
          <p>Ruby On Rails <i class="devicon-rails-plain-wordmark colored"></i></p>
        </li>
      </ul>
    </div>
    <div class="col col-md-6">
      <ul class="list-group skills-list">
        <li class="list-group-item">
          <p>Windows <i class="devicon-windows8-original colored"></i></p>
        </li>
        <li class="list-group-item">
          <p>Linux <i class="devicon-linux-plain colored"></i></p>
        </li>
        <li class="list-group-item">
          <p>Switches/Firewalls <span class="glyphicon glyphicon-transfer" aria-hidden="true"></span></p>
        </li>
        <li class="list-group-item">
          <p>Office365 <span class="glyphicon glyphicon-file" aria-hidden="true"></span></p>
        </li>
      </ul>
    </div>
  </div>
</div>
