<div class="container">
  <h1 class="text-center">Contact</h1>
  <%= render 'shared/errors', obj: @contact, message: 'prohibited this message from being sent:' %>

  <div class="row">
    <div class="col col-xs-12">
      <%= form_for(@contact, :html => {class: 'form-horizontal', role: 'form'}) do |f| %>
        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-1">
            <%= f.text_field :name, class: 'form-control', placeholder: 'Enter Your Name', autofocus: true %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-1">
            <%= f.email_field :email, class: 'form-control', placeholder: 'Enter Your Email', autofocus: true %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-1">
            <%= f.text_area :message, rows: 8, class: 'form-control', placeholder: 'Enter Your Message' %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-1 col-sm-10">
            <%= f.submit 'Send', class: 'btn btn-primary' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
