<!DOCTYPE html>
<html lang="en">
<head>
    <meta context="text/html"; charset="UTF-8" http-equiv="Content-type">
</head>
<body>
    <p><%= @contact.name %> <<%= @contact.email %>> wrote:</p>
    <p><%= @contact.message %></p>  
</body>
</html>