<div class="row">
  <div class="col col-xs-6 col-xs-offset-3">

<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {class: 'form-horizontal', role: 'form'}) do |f| %>
  <div class="form-group">
    <div class="col-sm-6 col-sm-offset-3">
      <%= f.email_field :email, class: 'form-control', placeholder: 'Enter Email', autofocus: true %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-6 col-sm-offset-3">
      <%= f.password_field :password, class: 'form-control', placeholder: 'Enter Password', autocomplete: "off" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-6 col-sm-offset-3">
      <%= f.submit "Log in", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
  </div>
</div>
