<%= render 'shared/errors', obj: @post, message: 'prohibited this article from being saved:' %>

<div class="row">
  <div class="col col-xs-12">
    <%= form_for(@post, html: { class: 'form-horizontal', role: 'form' }) do |f| %>
      <div class="form-group">
        <div class="col-sm-10 col-sm-offset-1">
          <%= f.label "Publish" %>
          <%= f.check_box :publish, class: "cbox" %>
          <%= f.text_field :title, class: 'form-control', placeholder: 'Title of post', autofocus: true %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-10 col-sm-offset-1">
          <%= f.text_field :image_url, class: 'form-control', placeholder: 'Add Image URL' %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-10 col-sm-offset-1">
          <%= f.text_area :content, rows: 10, class: 'form-control', placeholder: 'Body of Post' %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-10 col-sm-offset-1">
          <%= f.text_field :description, class: 'form-control', placeholder: 'Short Description of Post' %>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-sm-offset-2 col-sm-8">
            <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |cb| %>
              <% cb.label(class: "checkbox-inline input_checkbox") {cb.check_box(class: "cbox") + cb.text} %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-1 col-sm-10">
          <%= f.submit class: 'btn btn-primary' %>
          <%= link_to 'Cancel', posts_path, class: 'btn btn-warning' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
