<% obj.each do |post| %>
  <h3><%= link_to post.title, post %></h3>
  <% if current_user %>
    <% if post.publish %>
      <span class="label label-success">PUBLISHED</span>
    <% else %>
      <span class="label label-warning">DRAFT</span>
    <% end %>
  <% end %>
  <p><small>Created: <%= time_ago_in_words(post.created_at) %> ago,
    last updated: <%= time_ago_in_words(post.updated_at) %> ago</small></p>
  <p><%= post.description %></p>
  <% if post.categories.any? %>
    <p>Categories: <%= render post.categories %></p>
  <% end %>
  <hr/>
<% end %>
