<div class="container">
  <h1 class="text-center">All Blog Post</h1>
  <div class="row">
    <div class="col-sm-9">
      <div class="text-center"><%= will_paginate %></div>
        <%= render 'post', obj: @posts %>
      <div class="text-center"><%= will_paginate %></div>
    </div>
    <div class="col-sm-3">
      <%= render 'categories/categories', obj: @categories %>
    </div>
  </div>
</div>
