<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-1">
      <% if @post.image_url %>
        <%= image_tag @post.image_url, class: "img-responsive post-image" %>
      <% end %>
      <div class="text-center">
      <h1><%= @post.title %></h1>
        <p><strong>by: <%= @post.user.name %></strong></p>
        <p><small>Updated: <%= @post.updated_at.strftime("%b %d, %Y") %></small></p>
      </div>
      <div class="post-content">
        <%= markdown(@post.content) %>
        <% if @post.categories.any? %>
          <p>Categories: <%= render @post.categories %></p>
        <% end %>
      </div>
      <hr/>
      <% if user_signed_in? %>
      <%= link_to "Edit", edit_post_path(@post), class: "btn btn-success btn-round" %>
      <%= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure you want to delete this post?" }, class: "btn btn-danger btn-round" %>
      <% end %>
    </div>
    <div class="col-xs-3" id="sb-categories">
      <%= render 'categories/categories', obj: @categories %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-1">
      <%= render 'disqus' %>
    </div>
  </div>
</div>
<script>
$(document).ready(function() {
  $(".post-content img").addClass("img-responsive");
});
</script>
