<%= render 'shared/errors', obj: @gallery, message: 'prohibited this image from being saved:' %>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <%= form_for @gallery, html: { class: "form-horizontal", role: "form", multipart: true } do |f| %>
        <div class="form-group">
          <%= f.text_field :name, class: "form-control", placeholder: "Image Name", autofocus: true %>
        </div>

        <div class="form-group">
          <%= f.text_area :description, class: "form-control", placeholder: "Image Description" %>
        </div>

        <div class="form-group">
          <strong><%= f.label :image %></strong>
          <%= f.file_field :image %>
          <% if f.object.image? %>
            <%= image_tag f.object.image.thumb.url %>
            <%= f.label :remove_image %>
            <%= f.check_box :remove_image %>
          <% end %>
        </div>

        <div class="form-group">
          <%= f.submit class: "btn btn-primary" %>
          <%= link_to 'Cancel', galleries_path, class: "btn btn-warning" %>
        </div>
      <% end %>
    </div>
  </div>
</div>