<div class="container">
  <h1 class="text-center">Image Gallery</h1>
  <div class="row">
    <div class="col-sm-6 col-md-4">
    <%= link_to "Add Image", new_gallery_path, class: 'btn btn-primary' %>
      <% @galleries.each do |gallery| %>
        <div class="thumbnail">
          <% if gallery.image? %>
            <%= image_tag gallery.image.thumb.url %>
          <% else %>
            <p>NO IMAGE UPLOADED</p>
          <% end %>
          <div class="caption">
            <h4><%= gallery.name %></h4>
            <p><%= gallery.description %></p>
            <small><%= gallery.image.url %></small>
          </div>
          <%= link_to 'Edit', edit_gallery_path(gallery), class: 'btn btn-success' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

