<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="text-center">
        <h2><%= @gallery.name %></h2>
      </div>
        <p><%= @gallery.description %></p>
        <p>
          <strong>Image:</strong>
          <% if @gallery.image? %>
            <%= image_tag @gallery.image.thumb.url %>
            <strong>Image URL: </strong>
            <%= @gallery.image.url %>
          <% else %>
            <p>NO IMAGE UPLOADED</p>
          <% end %>
        </p>
        <%= link_to 'Edit', edit_gallery_path(@gallery), class: 'btn btn-info' %>
        <%= link_to 'Back', galleries_path, class: 'btn btn-warning' %>
    </div>
  </div>
</div>