/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require gsdk
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

 body {
   padding-top: 90px;
   font-size: 100%;
 }

 .navbar {
   padding: 10px 0px 10px 10px;
 }

 .my-logo {
   font-size: 2.5em;
   color: #FFF;
   background-color: #3C3C3C;
   display: inline-block;
   padding: 5px;
 }

 .my-logo:hover {
   text-decoration: none;
   color: #CCC;
 }
