// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment-info {
  padding: 0 10px;
  border-radius: 5px;
  background: #f3f3f3;
}
