// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.jumbotron {
  text-align: center;
  background-image: image-url("jumbotron_img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 100px;
  height: 80vh;
}

.jumbotron h1 {
  font-size: 3.5em
}

.jumbotron p {
  font-size: 1.5em
}

.jumbotron .container {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 15px;
}

@media only screen and (max-width: 767px) {
  .jumbotron h1 {
      font-size: 2.5em
    }

  .jumbotron p {
    font-size: .75em
  }
}

@media only screen and (max-width: 460px) {
  .jumbotron {
    height: 60vh;
  }

  .jumbotron h1 {
      font-size: 1.5em
    }
}

hr {
  width: 50%;
}

#about,
#portfolio,
#skills {
  padding-top: 60px;
  margin-bottom: 40px;
}

.dark-background {
  background-color: #F9F8F6;
  padding-bottom: 20px;
}

.thumbnail {
  min-height: 480px;
}

.thumbnail img {
  margin-top: 10px;
}

i {
  font-size: 30px;
}

.skills-list li {
  height: 67px;
}

footer {
  margin-top: 40px;
  padding: 40px 0;
  color: #fff;
  background-color: #3C3C3C;
}
