// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700');

#sb-categories {
  margin-top: 10%;
}

.post-content p {
  font-family: 'Roboto', sans-serif;
  line-height: 1.75em;
}

.post-content img{
  margin: auto;
}

.post-image {
  margin: auto;
}

@media only screen and (max-width: 769px) {
  #sb-categories {
    display: none;
  }
}
