<h3>Categories</h3>
<ul class="list-group">
<% obj.each do |category| %>
  <li class="list-group-item">
    <p><strong><%= link_to "#{category.name}", category_path(category) %><strong</p>
  </li>
<% end %>
</ul>
