<h1 class="text-center">All Categories</h1>
<div class="container text-center">
  <%= will_paginate %>
  <div class="row">
    <div class="col-md-offset-4 col-md-4">
      <ul class="list-group">
      <% @categories.each do |category| %>
        <li class="list-group-item">
          <p><strong><%= link_to "#{category.name}", category_path(category) %><strong</p>
        </li>
      <% end %>
    </ul>
    </div>
  </div>
  <%= will_paginate %>
</div>
