<div class="container">
  <div class="text-center">
    <h1><%= "Category: #{@category.name}" %></h1>
    <% if user_signed_in? %>
    <%= link_to "Edit Category Name", edit_category_path(@category), class: "btn btn-success btn-xs" %>
    <% end %>
  </div>
  <div class="row">
    <div class="col-xs-9">
      <div class="text-center"><%= will_paginate @category_posts %></div>
        <%= render 'posts/post', obj: @category_posts %>
      <div class="text-center"><%= will_paginate @category_posts %></div>
    </div>
    <div class="col-xs-3">
      <%= render 'categories/categories', obj: @categories %>
    </div>
  </div>
</div>
