<footer>
  <div class="container">
    <div class="row">
      <div class="col col-xs-12 text-center">
        <p>&copy; 2017 James Garcia - All Rights Reserved</p>
      </div>
    </div>
    <% if user_signed_in? %>
      <%= link_to('logout', destroy_user_session_path, method: :delete) %>
    <% else %>
      <%= link_to('login', new_user_session_path) %>
    <% end %>
  </div>
</footer>
